.center{
    
    display: flex;
    justify-content: center;
}


.f3{
    display: flex;
    justify-content: center;
}

.particles{
    /* can hgt these particles on theparticles website */
    /* stays fixed even when you scroll */
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left:0;
    /* tells what layer you want the styling to be on. */
    /* -1 shuld be below everything on our website */
    z-index: 0;
  }

