body {
  margin: 0;
  padding: 0;
  height: 1000px;
  background: linear-gradient(#e66465, #9198e5);
  
  

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
